// preloader
.wp-admin.essential-extensions-for-woocommerce {

	.essential-extensions-for-woocommerce-preloader {
		padding: 50px;
		position: relative;
		text-align: center;
	}

	.essential-extensions-for-woocommerce-preloader::before {
		content: "";
		height: 40px;
		width: 40px;
		margin: -15px auto auto -15px;
		position: absolute;
		top: 35%;
		left: 50%;
		border-width: 5px;
		border-style: solid;
		border-color: #2180c0 #ccc #ccc;
		border-radius: 100%;
		animation: essential-extensions-for-woocommerce-rotation 0.7s infinite linear;
	}

	@keyframes essential-extensions-for-woocommerce-rotation {

		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(359deg);
		}
	}
}
